SetEnv PHPRC /home/customer/www/best-american-supplements.com/public_html/php.ini
Options +FollowSymLinks

RewriteEngine on

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php
RewriteRule ^index\.php$ / [R=301,L]

RewriteCond %{HTTP_HOST} ^best-american-supplements.com
RewriteRule (.*) https://www.best-american-supplements.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
