SetEnv PHPRC http://best-supplement-review.com/php.ini
Options +FollowSymLinks

RewriteEngine on

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php
RewriteRule ^index\.php$ / [R=301,L]

RewriteCond %{HTTP_HOST} ^http://best-supplement-review.com/product/
RewriteRule (.*) http://best-supplement-review.com/product//$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]


